---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hello, This is Software Developer.">
  <main class="m-auot p-6">

    <div>
      <div class="py-12 sm:py-16 lg:pt-24">
        <div class="max-w-7xl mx-auto text-center px-4 sm:px-6 lg:px-8">
          <div class="max-w-3xl mx-auto space-y-2 lg:max-w-none">
            <h1 class="text-2xl font-bold sm:text-3xl lg:text-4xl">
                Website Architecture and Design
            </h1>
          </div>
        </div>
      </div>
      <div class="mx-auto w-full space-y-4 lg:grid lg:grid-cols-3 lg:gap-5 lg:space-y-0">
        <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
            <div class="bg-white px-6 py-8 sm:p-10 sm:pb-6">
              <div>
                <h3
                  class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-sm font-semibold uppercase tracking-wide text-indigo-600"
                  id="tier-standard"
                >
                  Standard
                </h3>
              </div>
              <div class="mt-4 flex items-baseline text-5xl sm:text-3xl lg:text-4xl xl:text-5xl font-extrabold">
                Rs 25,000
              </div>
              <div class="mt-5">
                <p class="text-md mt-2 flex items-center gap-2">
                  <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                  <span class="text-gray-500">
                      5 Pages Design
                  </span><br />
                </p>
              </div>
            </div>
            <div
              class="flex flex-1 flex-col space-y-6 bg-gray-50 px-6 pb-8 pt-6 sm:p-10 sm:pt-6"
            >
              <div class="rounded-md shadow">
                <a
                  href="#"
                  class="flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900"
                  aria-describedby="tier-standard">Get started</a>
              </div>
            </div>
          </div>
          <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <div class="bg-white px-6 py-8 sm:p-10 sm:pb-6">
            <div>
              <h3
                class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-sm font-semibold uppercase tracking-wide text-indigo-600"
                id="tier-standard"
              >
                Pro
              </h3>
            </div>
            <div class="mt-4 flex items-baseline text-5xl sm:text-3xl lg:text-4xl xl:text-5xl font-extrabold">
              Rs 50,000
            </div>
            <div class="mt-5">
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500">
                    20 Pages Design
                </span><br />
              </p>
            </div>
          </div>
          <div
            class="flex flex-1 flex-col space-y-6 bg-gray-50 px-6 pb-8 pt-6 sm:p-10 sm:pt-6"
          >
            <div class="rounded-md shadow">
              <a
                href="#"
                class="flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900"
                aria-describedby="tier-standard">Get started</a>
            </div>
          </div>
        </div><div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
            <div class="bg-white px-6 py-8 sm:p-10 sm:pb-6">
              <div>
                <h3
                  class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-sm font-semibold uppercase tracking-wide text-indigo-600"
                  id="tier-standard"
                >
                  Enterprise
                </h3>
              </div>
              <div class="mt-4 flex items-baseline text-5xl sm:text-3xl lg:text-4xl xl:text-5xl font-extrabold">
                Contact Us
              </div>
              <div class="mt-5">
                <p class="text-md mt-2 flex items-center gap-2">
                  <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                  <span class="text-gray-500">
                      Unlimited
                  </span><br />
                </p>
              </div>
            </div>
            <div
              class="flex flex-1 flex-col space-y-6 bg-gray-50 px-6 pb-8 pt-6 sm:p-10 sm:pt-6"
            >
              <div class="rounded-md shadow">
                <a
                    href="mailto:punee@intaxing.in"
                  class="flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900"
                  aria-describedby="tier-standard">Get started</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div>
      <div class="py-12 sm:py-16 lg:pt-24">
        <div class="max-w-7xl mx-auto text-center px-4 sm:px-6 lg:px-8">
          <div class="max-w-3xl mx-auto space-y-2 lg:max-w-none">
            <h1 class="text-2xl font-bold sm:text-3xl lg:text-4xl">
              XP TOOL CMS E-Commerce/Maintenance 
            </h1>
          </div>
        </div>
      </div>
      <div class="mx-auto w-full space-y-4 lg:grid lg:grid-cols-3 lg:gap-5 lg:space-y-0">
        <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <div class="bg-white px-6 py-8 sm:p-10 sm:pb-6">
            <div>
              <h3
                class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-sm font-semibold uppercase tracking-wide text-indigo-600"
                id="tier-standard"
              >
                Standard
              </h3>
            </div>
            <div class="mt-4 flex items-baseline text-6xl sm:text-4xl lg:text-5xl xl:text-6xl font-extrabold">
              Rs 500<span class="ml-1 text-2xl font-medium text-gray-500">/mo</span
              >
            </div>
            <div class="mt-5">
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500"
                  >XP Tools (Product/Service Manager)
                </span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500"
                  >Up to Rs 1.75 lac turnover per month</span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500">Up to 10,000 Customer per day</span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500">Up to 1 GB storage</span><br />
              </p>
            </div>
          </div>
          <div
            class="flex flex-1 flex-col space-y-6 bg-gray-50 px-6 pb-8 pt-6 sm:p-10 sm:pt-6"
          >
            <div class="rounded-md shadow">
              <a
                href="#"
                class="flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900"
                aria-describedby="tier-standard">Get started</a>
            </div>
          </div>
        </div>
        <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <div class="bg-white px-6 py-8 sm:p-10 sm:pb-6">
            <div>
              <h3
                class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-sm font-semibold uppercase tracking-wide text-indigo-600"
                id="tier-standard">
                Pro
              </h3>
            </div>
            <div class="mt-4 flex items-baseline text-6xl sm:text-4xl lg:text-5xl xl:text-6xl font-extrabold">
              Rs 1,000<span class="ml-1 text-2xl font-medium text-gray-500">/mo</span
              >
            </div>
            <div class="mt-5">
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500"
                  >XP Tools (Product/Service Manager)
                </span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span><span
                  class="text-gray-500"
                  >Upto Rs 8.5 lac turnover then Rs 1000 / Rs 8.5 lac
                </span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span><span
                  class="text-gray-500">Up to 50,000 Customer per day</span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500">Up to 10 GB storage</span><br />
              </p>
            </div>
          </div>
          <div
            class="flex flex-1 flex-col space-y-6 bg-gray-50 px-6 pb-8 pt-6 sm:p-10 sm:pt-6"
          >
            <div class="rounded-md shadow">
              <a
                href="#"
                class="flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900"
                aria-describedby="tier-standard">Get started</a
              >
            </div>
          </div>
        </div>
        <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <div class="bg-white px-6 py-8 sm:p-10 sm:pb-6">
            <div>
              <h3
                class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-sm font-semibold uppercase tracking-wide text-indigo-600"
                id="tier-standard"
              >
                Enterprise
              </h3>
            </div>
            <div class="mt-4 flex items-baseline text-6xl sm:text-4xl lg:text-5xl xl:text-6xl font-extrabold">
              Contact us
            </div>
            <div class="mt-5">
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500"
                  >XP Tools (Product/Service Manager)
                </span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span><span
                  class="text-gray-500">Custom request &amp;</span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span><span
                  class="text-gray-500">Premium support &amp; SLA</span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span><span
                  class="text-gray-500">Unlimited Terms</span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <svg
                  class="invisible h-2.5 w-2.5"
                  viewBox="0 0 100 100"
                  xmlns="http://www.w3.org/2000/svg"
                  ><circle cx="50" cy="50" r="50" fill="currentColor"
                  ></circle></svg><span class="text-gray-500"> </span><br />
              </p>
            </div>
          </div>
          <div
            class="flex flex-1 flex-col space-y-6 bg-gray-50 px-6 pb-8 pt-6 sm:p-10 sm:pt-6"
          >
            <div class="rounded-md shadow">
              <a
                href="mailto:punee@intaxing.in"
                class="flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900"
                aria-describedby="tier-standard">Get started</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="py-12 sm:py-16 lg:pt-24">
        <div class="max-w-7xl mx-auto text-center px-4 sm:px-6 lg:px-8">
          <div class="max-w-3xl mx-auto space-y-2 lg:max-w-none">
            <h1 class="text-2xl font-bold sm:text-3xl lg:text-4xl">
                Lock In Period for 5 Years
            </h1>
          </div>
        </div>
      </div>
      <div class="mx-auto w-full space-y-4 lg:grid lg:grid-cols-3 lg:gap-5 lg:space-y-0">
        <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
            <div class="bg-white px-6 py-8 sm:p-10 sm:pb-6">
              <div>
                <h3
                  class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-sm font-semibold uppercase tracking-wide text-indigo-600"
                  id="tier-standard"
                >
                  Standard
                </h3>
              </div>
              <div class="mt-4 flex items-baseline text-5xl sm:text-3xl lg:text-4xl xl:text-5xl font-extrabold">
                Rs 10,000
              </div>
              <div class="mt-5">
                <p class="text-md mt-2 flex items-center gap-2">
                  <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                  <span class="text-gray-500">
                      5 Pages Design
                  </span><br />
                </p>
                <p class="text-md mt-2 flex items-center gap-2">
                  <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                  <span class="text-gray-500">
                      1 Year XP TOOL Free <small class="uppercase">standard</small>
                  </span><br />
                </p>
              </div>
            </div>
            <div
              class="flex flex-1 flex-col space-y-6 bg-gray-50 px-6 pb-8 pt-6 sm:p-10 sm:pt-6"
            >
              <div class="rounded-md shadow">
                <a
                  href="#"
                  class="flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900"
                  aria-describedby="tier-standard">Get started</a>
              </div>
            </div>
          </div>
          <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
          <div class="bg-white px-6 py-8 sm:p-10 sm:pb-6">
            <div>
              <h3
                class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-sm font-semibold uppercase tracking-wide text-indigo-600"
                id="tier-standard"
              >
                pro
              </h3>
            </div>
            <div class="mt-4 flex items-baseline text-5xl sm:text-3xl lg:text-4xl xl:text-5xl font-extrabold">
              Rs 20,000
            </div>
            <div class="mt-5">
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500">
                    20 Pages Design
                </span><br />
              </p>
              <p class="text-md mt-2 flex items-center gap-2">
                <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                <span class="text-gray-500">
                    1 Year XP TOOL Free <small class="uppercase">pro</small>
                </span><br />
              </p>
            </div>
          </div>
          <div
            class="flex flex-1 flex-col space-y-6 bg-gray-50 px-6 pb-8 pt-6 sm:p-10 sm:pt-6"
          >
            <div class="rounded-md shadow">
              <a
                href="#"
                class="flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900"
                aria-describedby="tier-standard">Get started</a>
            </div>
          </div>
        </div><div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
            <div class="bg-white px-6 py-8 sm:p-10 sm:pb-6">
              <div>
                <h3
                  class="inline-flex rounded-full bg-indigo-100 px-4 py-1 text-sm font-semibold uppercase tracking-wide text-indigo-600"
                  id="tier-standard"
                >
                  Enterprise
                </h3>
              </div>
              <div class="mt-4 flex items-baseline text-5xl sm:text-3xl lg:text-4xl xl:text-5xl font-extrabold">
                Contact Us
              </div>
              <div class="mt-5">
                <p class="text-md mt-2 flex items-center gap-2">
                  <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                  <span class="text-gray-500">
                      Unlimited Thing 
                  </span><br />
                </p>
                <p class="text-md mt-2 flex items-center gap-2">
                  <span class="h-2.5 w-2.5 rounded-full bg-black"></span>
                  <span class="text-gray-500">
                      Unlimited Things
                  </span><br />
                </p>
              </div>
            </div>
            <div
              class="flex flex-1 flex-col space-y-6 bg-gray-50 px-6 pb-8 pt-6 sm:p-10 sm:pt-6"
            >
              <div class="rounded-md shadow">
                <a
                    href="mailto:punee@intaxing.in"
                  class="flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900"
                  aria-describedby="tier-standard">Get started</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div>
      If Client want to Get out of agreement client has to pay as value of project as per Website Architecture and Design Table we can withheld source code 1 year.<p>If Business Of Our get out you get the source code without any conditions.
      </div>
  </main>
</Layout>
